// Mobile +360px
.project__slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  .right-arrow {
    position: absolute;
    top: 41%;
    right: 100px;
    font-size: 2.5rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $color-primary;
    }
  }
  .left-arrow {
    position: absolute;
    top: 41%;
    left: 100px;
    font-size: 2.5rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $color-primary;
    }
  }
  &__active {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1);
  }
  &__slide {
    opacity: 0;
    transition-duration: 2s ease;
  }
  &__card {
    display: flex;
    flex-direction: column;
    text-align: left;

    &__text__container {
      width: 300px;
    }
    &__image {
      width: 100%;
      height: 27vh;
      border-radius: 10px;
      box-shadow: 1em 1em 2em #000;
      margin-bottom: 1em;
    }
    &__title {
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
      padding-top: 2.5em;
      margin: 0.5em 0;
      width: 50px;
      font-size: $font-size-m;
    }
    &__subtitle {
      margin: 1em 0;
      font-size: $font-size-s;
    }
    &__paragraph {
      font-size: $font-size-xs;
    }
  }
  &__button__container {
    display: flex;
    justify-content: center !important;
    text-align: center;
    padding: 2em 0;
    &__link {
      text-decoration: none;
    }
  }
}

// Mobile +480px
@include mq(s) {
  .project__slider {
    .right-arrow {
      right: 160px;
    }
    .left-arrow {
      left: 160px;
    }
    &__card {
      &__text__container {
        width: 450px;
      }
      &__image {
        height: 33vh;
      }
      &__title {
        font-size: $font-size-l;
      }
      &__subtitle {
        font-size: $font-size-m;
      }
      &__paragraph {
        font-size: $font-size-s;
      }
    }
  }
}

// Tablet +768px
@include mq(m) {
  .project__slider {
    .right-arrow {
      top: 55%;
      right: 250px;
    }
    .left-arrow {
      top: 55%;
      left: 180px;
    }
    &__card {
      &__image {
        height: 30vh;
        width: 50vh;
      }
      &__text__container {
        width: 550px;
      }
      &__title {
        padding-top: 1em;
      }
    }
  }
}
// Desktop +1024px
@include mq(l) {
  .project__slider {
    .right-arrow {
      top: 25%;
      right: -80px;
    }
    .left-arrow {
      top: 25%;
      left: -80px;
    }
    &__card {
      &__image {
        height: 35vh;
        width: 60vh;
      }
      &__text__container {
        width: 500px;
      }
    }
  }
}

// Widescreen +1300px
@include mq(xl) {
  .project__slider {
    .right-arrow {
      right: -80px;
    }
    .left-arrow {
      left: -80px;
    }
    &__card {
      &__image {
        height: 33vh;
      }
    }
  }
}
