// Mobile +360px

.footer {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  &__element {
    list-style: none;
    font-size: $font-size-s;
  }
  &__link {
    color: inherit;
  }

  #linkedin {
    color: rgb(45, 45, 180);
  }
  #github {
    color: rgb(80, 79, 79);
  }
  #whatsapp {
    color: rgb(5, 172, 5);
  }
}

// Mobile +480px
@include mq(s) {
  .footer {
    &__menu {
      gap: 2rem;
    }
    &__element {
      font-size: $font-size-m;
    }
  }
}
