// Mobile +360px
.header {
  background-color: rgb(185, 230, 245);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: $font-size-m;
    span {
      color: $color-primary;
    }
  }
  &__subtitle {
    padding: 1rem;
    font-size: $font-size-s;
    z-index: $z-normal;
    text-align: center;
    span {
      color: $color-primary;
    }
  }

  &__icon {
    cursor: pointer;
    font-size: 3rem;
    position: relative;
    top: 50px;
    color: #000;
    &:hover {
      color: $color-primary;
    }
  }
}

// Mobile +480px
@include mq(s) {
  .header {
    &__title {
      font-size: $font-size-l;
    }
    &__subtitle {
      font-size: $font-size-m;
    }
  }
}

// Tablet +768px
@include mq(m) {
  .header {
    &__subtitle {
      width: 500px;
    }
  }
}
// Desktop +1024px
@include mq(l) {
  .header {
    align-items: flex-start;
    &__title {
      font-size: $font-size-xl;
      padding: 1rem 3rem;
    }
    &__subtitle {
      padding: 0 3.2rem;
      font-size: $font-size-l;
      width: 750px;
      text-align: left;
    }
    &__icon {
      top: 15rem;
      left: 900px;
    }
  }
}
