// Mobile +360px
.header {
  background-color: rgb(185, 230, 245);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    span {
      color: $color-primary;
    }
  }
  &__subtitle {
    font-size: 2.5rem;
    z-index: $z-normal;
    text-align: left;
    span {
      color: $color-primary;
    }
  }

  &__icon {
    cursor: pointer;
    font-size: 3rem;
    margin-top: 2em;
    color: #000;
    &:hover {
      color: $color-primary;
    }
  }
}

// Tablet +768px
@include mq(m) {
  .header {
    &__title {
      font-size: 5rem;
      text-align: center;
    }
    &__subtitle {
      width: 500px;
      font-size: 4rem;
    }
  }
}
// Desktop +1024px
@include mq(l) {
  .header {
    align-items: center;
    &__title {
      font-size: 5rem;
      width: 730px;
    }
    &__subtitle {
      font-size: 4rem;
    }
    &__icon__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      position: static;
    }
  }
}
