// Mobile
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(185, 230, 245);
  &__icon {
    cursor: pointer;
    font-size: 3rem;
    position: relative;
    top: 5px;
    color: #000;
    &:hover {
      color: $color-primary;
    }
  }
}
