/*
  This boilerplate is based in ITCSS and SMACSS
*/
/*Variables*/
/* z-index */
/* fuentes */
/* Color */
/* Mq break */
/*Mixins*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

.nav__logo {
  text-decoration: none;
  font-size: 2rem;
  padding: 0.6em;
}

.nav__toggle {
  position: absolute;
  right: 0;
  cursor: pointer;
  margin: 0rem 1rem;
  padding: 1.6em;
}

.nav__toggle .svg {
  width: 1.5rem;
}

.nav__toggle .close {
  display: none;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  z-index: 1000;
  position: absolute;
  width: 100%;
  padding: 3em;
  background-color: #fff;
  max-height: 0px;
  -webkit-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

.nav__element {
  list-style: none;
  overflow: hidden;
}

.nav__element:hover {
  color: #e60856;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  padding: 0.5em;
}

.nav__socials {
  list-style: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.nav__socials #linkedin:hover {
  color: #2d2db4;
}

.nav__socials #github:hover {
  color: #504f4f;
}

.nav__socials #whatsapp:hover {
  color: #05ac05;
}

#nav__checkbox:checked ~ ul.nav__menu {
  max-height: 500px;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.header {
  background-color: #fff;
  background-image: url("../../assets/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__title {
  font-size: 2rem;
  padding: 1rem;
}

.header__subtitle {
  padding: 1rem;
  font-size: 1.3rem;
  z-index: 1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__subtitle {
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header__title {
    font-size: 3.5rem;
    padding: 1rem;
  }
  .header__subtitle {
    padding: 0 1.2rem;
    font-size: 2rem;
    width: 750px;
    text-align: left;
  }
  .header__button {
    margin: 1rem !important;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
/*# sourceMappingURL=main.css.map */
